<!DOCTYPE html>
<html>
  <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

  <% include partials/navbar %>




<a href="/newitem" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>Back to Dashboard</a>

<div class="container editobject jumbotron">
  <div class="thumbnail">
    <img src="<%=items.image %>" alt="">
  </div>
  <div>
    <h2><strong><%=items.name %></strong></h2>
  </div>
  <div>
    <h4>Description: <%=items.description %></h4>
  </div>
  <div>
    <h5>Condition: <%=items.condition %></h5>
  </div>
  <div>
    <h5>Category: <%=items.category %></h5>
  </div>
<div>


</div>
</div>

<!-- attempt at doing a map -->
<!-- <center>
  <h3>Location</h3>
  <h2>this is where map would go</h2>
</center>
<div id="map">
  <script>
    function initMap() {
    var mission = {lat: 26.215, lng: -98.325};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: mission
    });
    var marker = new google.maps.Marker({
    position: mission,
    map: map
    });
    }
  </script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBagv-43cAtG0CGsWpT7oBQbcSZbbfDxjA&amp;callback=initMap"></script>
</div> -->
<!-- end attempt at map -->


<!-- form to edit item populated with existing data-->
<div class = "container editform">
  <div class = "row">
    <div class="form-group">
      <label>Update item</label>
      <form class="" action="/newitem/<%=items.id%>" method="post" enctype="multipart/form-data">
        <input class = "form-control" type="text" name="name" placeholder="<%=items.name %>">
        <input class = "form-control" type="text" name="description" placeholder="<%=items.description %>">
        <label>Category:</label>
        <select class="form-control" type= "text" name="category">
          <option>Power Tools</option>
          <option>Pneumatic Tools</option>
          <option>Machine Tools</option>
        </select>
        <!-- <input class = "form-control" type="text" name="category" placeholder="category"> -->
        <label>Condition:</label>
        <select class="form-control" type= "text" name="condition">
          <option>Excellent</option>
          <option>Good</option>
          <option>Fair</option>
          <<option>Poor</option>
        </select>

        <input class = "form-control" type="file" name="image">
        <button class = "form-control btn-danger" type="submit">Update Item</button>
        <!-- <form action="google.com" class="btn-danger">
          <input type="submit" class="form-control btn-danger">
        </form> -->


        <!-- <button class = "form-control btn-danger" type="submit">Submit</button> -->

      </form>
    </div>
</div>
</div>
<!-- end of form section -->


<% include partials/footer %>

  </body>
</html>
